<br><br>
<div class="container">
  <div class="row">
    <div class="col-4"></div>
    <div class="col-5">
      <h1 class="">Editar Carro</h1>
    </div>
    <div class="col-3"></div>
  </div>
</div>
<%= render 'form', carro: @carro %>


