@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
/*Notificaciones*/

#notice {
    z-index: 999;
    top: 0;
    position: absolute;
    width: 50%;
    height: 6%;
    left: 480px;

    #texto {

        text-align: center;
    }
}

.imagen {
    width: 50px;
    height: 60px;

}

#crear {
    width: 40px;
    height: 40px;

}

/* Tabla */

#imagen {
    width: 30px;
    height: 30px;
}

.tabla {
    border: solid;
    border-width: 1.5px;
    width: 100%;
}

tr {
    border: solid;
    border-width: 1.5px;
    color: #0d0988;
    border-color: #b47474;
}


th {
    background: #b47474;
    padding: 20px 30px 20px 30px;
    text-align: center;
    border: solid;
    border-width: 1.5px;
    border-color: #b47474;
}

.texto {
    color: white;
}

.reportado td {
    background: #ff000038;
    color: black;
}

td {
    color: black;
    padding: 10px 0px 10px 0px;

}

p {
    margin: 0;
}

.boton-color {
    background: white;
}

.botones {
    margin-top: 20px;
    display: flex;
    justify-content: space-evenly;
}

/* Header */

.navegacion {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;

    list-style: none;
    margin: 0;
    background: #8e203d;

}

.logo {
    height: 73.5px;
}

.navegacion a {
    text-decoration: none;
    display: block;
    padding: 1em;
    color: #dbcca3;
    font-size: 21px;
    font-family: 'Open Sans', Regular;
    font-weight: 400;
}