<ul class="navegacion">
	<li><img class="logo" src="https://repuve2020.online/wp-content/uploads/2019/11/cropped-Icono-repuve-3.png"></li>
    <li><%= link_to 'Inicio', controller: 'dashboard' %></li>
    <li><a href="">Catalgos</a></li>
</ul>