<div class="contenedor">
    <div class="dashboard">
        <img class="logo" src="https://repuve2020.online/wp-content/uploads/2019/11/cropped-Icono-repuve-3.png">
        <p>Registro Público Vehicular</p>
    </div>
</div>